@charset "utf-8";
/* 325px 이상 mobile */
@media all and (min-width:325px) {

 /*마우스 효과 mouse effect*/
 .cursor {
    position: absolute;
    top: 0;
    left: 0;
    z-index:50;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: -25px;
    border: 1px solid #eeeeee;
    cursor: crosshair;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
 /*trigger CSS style*/
 [data-trigger]{
    opacity: 0;
    position: relative;
    top: 18px;
    transition: 0.6s ease-out;
    -webkit-transition: 0.6s ease-out;
    -moz-transition: 0.6s ease-out;
    -ms-transition: 0.6s ease-out;
    -o-transition: 0.6s ease-out;
}
    [data-trigger].visible{ opacity: 1; top: 0; }

    #wrap{
        font-family: Helvetica, Arial, sans-serif;
        font-size: 16px;
        line-height: 1.5;
        background-color: #252525;
        color: rgba(0, 0, 0, 0.85);
    }

    /*PC화면 상단헤더*/
    .header{
        /* position: fixed; */
        width: 100%;
        height: 60px;
        padding: 0 4.5vw;
        top: 0;
        z-index: 2;
        background-color: rgba(97, 97, 97, 0.1);
        
        transition: transform .3s linear;
        -webkit-transition-duration:0.4s;
        -webkit-transition-timing-function:ease;
        transition-duration:0.4s;
        transition-timing-function:ease;
    }
    .header .header-contents{
        display: inline-block;
        /*padding: 0 12.5vh;*/
        /* position: fixed; */
        left: 10%;
        top: 0;
        transition: transform .3s linear;
    }
    .header .header-contents .btn-l-c{
        display: inline-block;
        width: 96px;
        height: 25px;
        margin: 20px 0;
        /* float: left;
        line-height: 4rem;
        text-decoration: none;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-family:-apple-system,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
        background: url(../images/UNIQUE-logo.png)no-repeat;
    }
    .header .header-contents .btn-l-c h1{ 
        font-size: 1.5rem; 
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-family:-apple-system,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .gettxt-click{ display: none; }
    .gettxt-click p{
        color: white;
        letter-spacing: 1.5px;
        line-height: 4rem;
        font-size: 12px;
    }
    /* JQ Code header-change virtual Selector */
    /* JQ Code - display is none*/
    /* 메인으로 보여주는 상단page */
    .mainpage{
        position: relative;
        width: 100%;
        height: 80vh;
    }
    .mainpage .navi{ display: none; }
    .mainpage h1{
        position: absolute;
        font-size: 4rem;
        color: #000;
        letter-spacing: 2px;
    }
    /*텍스트 표현 CSS*/
    .title-main-cover{ position: relative; margin: 0 auto; }
    .mainpage .effect-txt1{
        position: absolute;
        left: 2%;
        top: 0;
        font-style:oblique;
        -webkit-text-stroke: 1.5px #FECE35;
        -webkit-text-fill-color: transparent;
        z-index: 4;
    }
    .mainpage .effect-txt2{
        position: absolute;
        left: 11%;
        top: 280px;
        font-style:oblique;
        -webkit-text-stroke: 2px orangered;
        -webkit-text-fill-color: transparent;
        z-index: 4;
    }
    .main-cover {
        position: relative;
        margin: 0 auto;
    }
    .mainpage .main-cover .faceimage2 {
        position: absolute;
        top: 50px;
        left: 4.5%;
        width: 330px;
        height: 289px;
        background-size: 100%;
    }
    /*이미지에 대한 값*/
    .mainpage .main-cover .faceimage2 canvas{ width: 330px; height: 289px; }
    /* .mainpage .main-cover .faceimage{ display: none; } */

    /*소개 페이지*/
    .sub-mainpage{ width: 100%; }
    .introduce-text-background{ display: none; }
    .article-bx{
        min-width: 75%;
        margin-top: 50px;
        /* position: absolute;
        top: 37em; */
    }
    .sub-mainpage article{
        max-width: 100%;
        padding: 0 12.5vw;
        color: #fff;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .sub-mainpage h2{
        min-width: 75%;
        padding: 0 12.5vw;
        color: #fff;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .sub-mainpage article p{ font-size: 14px; letter-spacing: 2px; line-height: 28px; }
    .contents{ display: none;} /*Slide is display none*/
    
    /*함께하자는 인사말*/
    .about-Greetings{ width: 100%; height: 680px; }
    .about-column{ min-width: 75%; padding: 11vh 12.5vw; }
    .about-Greetings .about-column p{
        color: whitesmoke;
        text-align: center;
        font-size: 3.6rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
   
    /*Animation Word show - my Favorite Things*/
    .about-view-animation{
        width: 100%;
        padding:5rem 0;
    }
    .about-view-animation .about-word {
        width: 100%;
        height: fit-content;
    }
    .about-view-animation .about-word svg{
        width: 100%;
        height: 50%;
        border-top: 1px solid whitesmoke;
        border-bottom: 1px solid whitesmoke;
    }
    .about-view-animation .about-word .svg-word text{
        /*폰트 CSS style*/
        font-weight: 600;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-style: italic;
        font-size: 6rem;
        letter-spacing: 2px;
    }
    /*contact me 그리고 다운로드*/
    .contact-sc{
        width: 100%;
        padding: 5rem 0;
    }
    .contact__container{
        width: 100%;
        flex-wrap: wrap;
        display: flex;
    }
    .contact-image{
        display: none;
        max-width: 42%;
    }
    .contact__container .contact-image .color_box{
        display: none;
        max-width: 60%;
        padding: 3rem;
        background-color: #ff0000;
    }
    .contact-image img { display: none; max-width: 100%; }
    .contact-default-contents { min-width: 100%; padding-left:10%; margin-bottom: 10%;}
    .contact-default-contents h2 {
        max-width: 100%;
        color: whitesmoke;
        font-weight: 400;
        font-size: 2rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .contact-default-contents h2::after{
        content: "";
        display: inline-block;
        width: 12%;
        height: 1px;
        /*position: absolute;*/
        margin: 0 20px;
        transition: all .3s;
        background: #fff;
    }
    .contact-about-tutext-cover{
        width: 85%;
        display: block;
        margin-top: 1.1rem;
    }
    .contact-info{
        min-width: 80%;
        margin-right: 3vw;
        margin-bottom: 20px;
    }
    .contact-info p{
        padding: 9px 0;
        font-size: 14px;
        color: whitesmoke;
    }
    .sub-title::after{
        content: "";
        display: inline-block;
        width: 15%;
        height: 1px;
        margin: 0 1.1vw;
        transition: all .3s;
        background: whitesmoke;
    }
    .download-column{ min-width: 41%; }
    .download-column p{
        padding: 15px 0 1.5rem 0;
        font-size: 19px;
        color: whitesmoke;
    }
    .download-column a{
        text-decoration: none;
        padding: 10px 40px;
        margin: 1vh 0;
        border: 1px solid whitesmoke;
        text-align: center;
        background: none;
        font-size: 13px;
        color: whitesmoke;
    }
    .github{
        width: fit-content;
        margin: 20px 0;
        padding: 1rem 0;
    }
    .github a{
        text-decoration: none;
        color: whitesmoke;
    }
    .github i{
        margin: 0 5px;
        color: whitesmoke;
    }
    /*연락페이지 스타일링*/
    .contact-sc-stying{
        width: 100%;
        height: 350px;
    }
    .Dot_pattern{
        width: 18rem;
        height: 17rem;
        float: right;
        /*dot-pattern styling CSS-Property*/
        background:
        radial-gradient(#972525 15%, transparent 16%) 0 0,
        radial-gradient(#972525 15%, transparent 16%) 8px 8px,
        radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px,
        radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
        background-size:17px 17px;
        opacity: 0.8;
    }
    /*circle-animation CSS-Property*/
    #circle{
        position: relative;
        padding-bottom: 19%; 
        /* overflow: hidden; */
    }
    #circle text{
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 15px; 
        font-weight: bold;
    }
    #circle svg{
        position: absolute;
        top: -150px;
        right: 8rem;
        height: 540px;
        /*animation CSS Property*/
        -webkit-animation-name: rotate;
           -moz-animation-name: rotate;
            -ms-animation-name: rotate;
             -o-animation-name: rotate;
                animation-name: rotate;
        -webkit-animation-duration: 10s;
           -moz-animation-duration: 10s;
            -ms-animation-duration: 10s;
             -o-animation-duration: 10s;
                animation-duration: 10s;
        -webkit-animation-iteration-count: infinite;
           -moz-animation-iteration-count: infinite;
            -ms-animation-iteration-count: infinite;
             -o-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
           -moz-animation-timing-function: linear;
            -ms-animation-timing-function: linear;
             -o-animation-timing-function: linear;
                animation-timing-function: linear;
    }
    /*animation-Keyframes CSS Property*/
    @-webkit-keyframes rotate {
        from { -webkit-transform: rotate(360deg); }
        to { -webkit-transform: rotate(0); }
    }
    @-moz-keyframes rotate {
        from { -moz-transform: rotate(360deg); }
        to { -moz-transform: rotate(0); }
    }
    @-ms-keyframes rotate {
        from { -ms-transform: rotate(360deg); }
        to { -ms-transform: rotate(0); }
    }
    @-o-keyframes rotate {
        from { -o-transform: rotate(360deg); }
        to { -o-transform: rotate(0); }
    }
    @keyframes rotate {
        from { transform: rotate(360deg); }
        to { transform: rotate(0); }
    }

    br{padding: 2%;}
    /* 하단 footer 내용 */
    .footer{
        width: 100%;
        padding: 2rem 0;
        background-color: #eeeeee;
    }
    .footer-txt{
        display: grid;
        max-width:100%;
        color: #616161;
        font-size: 11px;
        text-align: center;
    }
    .footer-txt p{
        display: inline;
        padding: 0 7%;
        letter-spacing: 1px;
    }
    .footer-txt a{
        display: none;
        text-decoration: none;
        color:#616161;
    }
    .top-button {display: none;}
}
/* 360px 이상 mobile */
@media all and (min-width:360px) { 
    /*마우스 효과 mouse effect*/
    .cursor {
        position: absolute;
        top: 0;
        left: 0;
        z-index:50;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin: -25px;
        border: 1px solid #eeeeee;
        cursor: crosshair;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
     /*trigger CSS style*/
     [data-trigger]{
        opacity: 0;
        position: relative;
        top: 18px;
        transition: 0.6s ease-out;
        -webkit-transition: 0.6s ease-out;
        -moz-transition: 0.6s ease-out;
        -ms-transition: 0.6s ease-out;
        -o-transition: 0.6s ease-out;
}
    [data-trigger].visible{ opacity: 1; top: 0; }

        #wrap{
            font-family: Helvetica, Arial, sans-serif;
            font-size: 16px;
            line-height: 1.5;
            background-color: #252525;
            color: rgba(0, 0, 0, 0.85);
        }
    
        /*PC화면 상단헤더*/
        .header{
            /* position: fixed; */
            width: 100%;
            height: 60px;
            padding: 0 4.5vw;
            top: 0;
            z-index: 2;
            background-color: rgba(97, 97, 97, 0.1);
            
            transition: transform .3s linear;
            -webkit-transition-duration:0.4s;
            -webkit-transition-timing-function:ease;
            transition-duration:0.4s;
            transition-timing-function:ease;
        }
        .header .header-contents{
            display: inline-block;
            /*padding: 0 12.5vh;*/
            /* position: fixed; */
            left: 10%;
            top: 0;
            transition: transform .3s linear;
        }
        .header .header-contents .btn-l-c{
            display: inline-block;
            width: 96px;
            height: 25px;
            margin: 20px 0;
            /* float: left;
            line-height: 4rem;
            text-decoration: none;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-family:-apple-system,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
            background: url(../images/UNIQUE-logo.png)no-repeat;
        }
        .header .header-contents .btn-l-c h1{ 
            font-size: 1.5rem; 
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-family:-apple-system,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .gettxt-click{ display: none; }
        
        .gettxt-click p{
            color: white;
            letter-spacing: 1.5px;
            line-height: 4rem;
            font-size: 12px;
        }
        /* JQ Code header-change virtual Selector */
        /* JQ Code - display is none*/
        /* 메인으로 보여주는 상단page */
        .mainpage{
            position: relative;
            width: 100%;
            height: 80vh;
        }
        .mainpage .navi{ display: none; }
        
        .mainpage h1{
            position: absolute;
            font-size: 4rem;
            color: #000;
            letter-spacing: 2px;
        }
        /*텍스트 표현 CSS*/
        .title-main-cover{
            position: relative;
            margin: 0 18vw;
        }
        .mainpage .effect-txt1{
            position: absolute;
            left: 2%;
            top: 0;
            font-style:oblique;
            -webkit-text-stroke: 1.5px #FECE35;
            -webkit-text-fill-color: transparent;
            z-index: 4;
        }
        .mainpage .effect-txt2{
            position: absolute;
            left: 11%;
            top: 280px;
            font-style:oblique;
            -webkit-text-stroke: 2px orangered;
            -webkit-text-fill-color: transparent;
            z-index: 4;
        }
        .main-cover {
            position: relative;
            margin: 0 18vw;
        }
        .mainpage .main-cover .faceimage2 {
            position: absolute;
            top: 50px;
            left: 4.5%;
            width: 330px;
            height: 289px;
            background-size: 100%;
        }
        /*이미지에 대한 값*/
        .mainpage .main-cover .faceimage2 canvas{
            width: 330px;
            height: 289px;
        }
        /* .mainpage .main-cover .faceimage{ display: none; } */
    
        /*소개 페이지*/
        .sub-mainpage{ width: 100%; }
        .introduce-text-background{ display: none; }
        .article-bx{
            min-width: 75%;
            margin-top: 50px;
            /* position: absolute;
            top: 37em; */
        }
        .sub-mainpage article{
            max-width: 100%;
            padding: 0 12.5vw;
            color: #fff;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .sub-mainpage h2{
            min-width: 75%;
            padding: 0 12.5vw;
            color: #fff;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .sub-mainpage article p{
            font-size: 14px;
            letter-spacing: 2px;
            line-height: 28px;
        }
        .contents{ display: none;} /*Slide is display none*/
        
        /*함께하자는 인사말*/
        .about-Greetings{
            width: 100%;
            height: 680px;
        }
        .about-column{
            min-width: 75%;
            padding: 11vh 12.5vw;
        }
        .about-Greetings .about-column p{
            color: whitesmoke;
            text-align: center;
            font-size: 3.6rem;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
       
        /*Animation Word show - my Favorite Things*/
        .about-view-animation{
            width: 100%;
            padding:5rem 0;
        }
        .about-view-animation .about-word {
            width: 100%;
            height: fit-content;
        }
        .about-view-animation .about-word svg{
            width: 100%;
            height: 50%;
            border-top: 1px solid whitesmoke;
            border-bottom: 1px solid whitesmoke;
        }
        .about-view-animation .about-word .svg-word text{
            /*폰트 CSS style*/
            font-weight: 600;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-style: italic;
            font-size: 6rem;
            letter-spacing: 2px;
        }
        /*contact me 그리고 다운로드*/
        .contact-sc{
            width: 100%;
            padding: 5rem 0;
        }
        .contact__container{
            width: 100%;
            flex-wrap: wrap;
            display: flex;
        }
        .contact-image{
            display: none;
            max-width: 42%;
        }
        .contact__container .contact-image .color_box{
            display: none;
            max-width: 60%;
            padding: 3rem;
            background-color: #ff0000;
        }
        .contact-image img { display: none; max-width: 100%; }
        .contact-default-contents { min-width: 100%; padding-left:10%; margin-bottom: 10%;}
        .contact-default-contents h2 {
            max-width: 100%;
            color: whitesmoke;
            font-weight: 400;
            font-size: 2rem;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .contact-default-contents h2::after{
            content: "";
            display: inline-block;
            width: 12%;
            height: 1px;
            /*position: absolute;*/
            margin: 0 20px;
            transition: all .3s;
            background: #fff;
        }
        .contact-about-tutext-cover{
            width: 85%;
            display: block;
            margin-top: 1.1rem;
        }
        .contact-info{
            min-width: 80%;
            margin-right: 3vw;
            margin-bottom: 20px;
        }
        .contact-info p{
            padding: 9px 0;
            font-size: 14px;
            color: whitesmoke;
        }
        .sub-title::after{
            content: "";
            display: inline-block;
            width: 15%;
            height: 1px;
            margin: 0 1.1vw;
            transition: all .3s;
            background: whitesmoke;
        }
        .download-column{ min-width: 41%; }
        .download-column p{
            padding: 15px 0 1.5rem 0;
            font-size: 19px;
            color: whitesmoke;
        }
        .download-column a{
            text-decoration: none;
            padding: 10px 40px;
            margin: 1vh 0;
            border: 1px solid whitesmoke;
            text-align: center;
            background: none;
            font-size: 13px;
            color: whitesmoke;
        }
        .github{
            width: fit-content;
            margin: 20px 0;
            padding: 1rem 0;
        }
        .github a{
            text-decoration: none;
            color: whitesmoke;
        }
        .github i{
            margin: 0 5px;
            color: whitesmoke;
        }
        /*연락페이지 스타일링*/
        .contact-sc-stying{
            width: 100%;
            height: 350px;
        }
        .Dot_pattern{
            width: 18rem;
            height: 17rem;
            float: right;
            /*dot-pattern styling CSS-Property*/
            background:
            radial-gradient(#972525 15%, transparent 16%) 0 0,
            radial-gradient(#972525 15%, transparent 16%) 8px 8px,
            radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px,
            radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
            background-size:17px 17px;
            opacity: 0.8;
        }
        /*circle-animation CSS-Property*/
        #circle{
            position: relative;
            padding-bottom: 19%; 
            /* overflow: hidden; */
        }
        #circle text{
            font-family: 'Noto Sans KR', sans-serif;
            font-size: 15px; 
            font-weight: bold;
        }
        #circle svg{
            position: absolute;
            top: -150px;
            right: 8rem;
            height: 540px;
            /*animation CSS Property*/
            -webkit-animation-name: rotate;
               -moz-animation-name: rotate;
                -ms-animation-name: rotate;
                 -o-animation-name: rotate;
                    animation-name: rotate;
            -webkit-animation-duration: 10s;
               -moz-animation-duration: 10s;
                -ms-animation-duration: 10s;
                 -o-animation-duration: 10s;
                    animation-duration: 10s;
            -webkit-animation-iteration-count: infinite;
               -moz-animation-iteration-count: infinite;
                -ms-animation-iteration-count: infinite;
                 -o-animation-iteration-count: infinite;
                    animation-iteration-count: infinite;
            -webkit-animation-timing-function: linear;
               -moz-animation-timing-function: linear;
                -ms-animation-timing-function: linear;
                 -o-animation-timing-function: linear;
                    animation-timing-function: linear;
        }
        /*animation-Keyframes CSS Property*/
        @-webkit-keyframes rotate {
            from { -webkit-transform: rotate(360deg); }
            to { -webkit-transform: rotate(0); }
        }
        @-moz-keyframes rotate {
            from { -moz-transform: rotate(360deg); }
            to { -moz-transform: rotate(0); }
        }
        @-ms-keyframes rotate {
            from { -ms-transform: rotate(360deg); }
            to { -ms-transform: rotate(0); }
        }
        @-o-keyframes rotate {
            from { -o-transform: rotate(360deg); }
            to { -o-transform: rotate(0); }
        }
        @keyframes rotate {
            from { transform: rotate(360deg); }
            to { transform: rotate(0); }
        }
    
        br{padding: 2%;}
        /* 하단 footer 내용 */
        .footer{
            width: 100%;
            padding: 2rem 0;
            background-color: #eeeeee;
        }
        .footer-txt{
            display: grid;
            max-width:100%;
            color: #616161;
            font-size: 11px;
            text-align: center;
        }
        .footer-txt p{
            display: inline;
            padding: 0 7%;
            letter-spacing: 1px;
        }
        .footer-txt a{
            display: none;
            text-decoration: none;
            color:#616161;
        }
        .top-button {display: none;}
}
/* 768px 이상 tablet , laptap */
@media all and (min-width:768px) { 
    /*마우스 효과 mouse effect*/
    .cursor {
        position: absolute;
        top: 0;
        left: 0;
        z-index:50;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin: -25px;
        border: 1px solid #eeeeee;
        cursor: crosshair;
        }
    /*trigger CSS style*/
    [data-trigger]{
        opacity: 0;
        position: relative;
        top: 18px;
        transition: 0.5s ease-out;
        -webkit-transition: 0.5s ease-out;
        -moz-transition: 0.5s ease-out;
        -ms-transition: 0.5s ease-out;
        -o-transition: 0.5s ease-out;
    }
    
    [data-trigger].visible{
        opacity: 1;
        top: 0;
    }
        #wrap{
            font-family: Helvetica, Arial, sans-serif;
            font-size: 16px;
            line-height: 1.5;
            background-color: #252525;
            color: rgba(0, 0, 0, 0.85);
        }
    
        /*PC화면 상단헤더*/
        .header{
            position: fixed;
            width: 100%;
            height: 65px;
            top: 0;
            z-index: 2;
            padding: 0 12.5vh;
            transition: transform .3s linear;
            -webkit-transition-duration:0.4s;
            -webkit-transition-timing-function:ease;
            transition-duration:0.4s;
            transition-timing-function:ease;
        }
        .header .header-contents{
            display: inline-block;
            position: fixed;
            left: 11%;
            top: 0;
            transition: transform .3s linear;
            -webkit-transition: transform .3s linear;
            -moz-transition: transform .3s linear;
            -ms-transition: transform .3s linear;
            -o-transition: transform .3s linear;
        }
        .header .header-contents .btn-l-c{
            display: inline-block;
            width: 96px;
            height: 25px;
            margin: 20px 0;
            /* float: left;
            line-height: 4rem;
            text-decoration: none;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-family:-apple-system,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
            background: url(../images/UNIQUE-logo.png)no-repeat;
        }
        .gettxt-click{
            display:none;
            float: right;
            text-align: -webkit-center;
            text-decoration: none;
            width: fit-content;
        }
        .header-contents .gettxt-click:before {
            content: "";
            display: inline-block;
            width: 106px;
            height: 1px;
            position: absolute;
            right: 0px;
            bottom: 18px;
            transition: all .3s;
            background: #fff;
        }
        .gettxt-click p{
            color: white;
            letter-spacing: 1.5px;
            line-height: 4rem;
            font-size: 12px;
        }
        /* JQ Code header-change virtual Selector */
        .down {
            background-color:rgba(70, 70, 70, 0.308);
            -webkit-transition-duration:0.8s;
            -webkit-transition-timing-function:ease-out;
            transition-duration:0.8s;
            transition-timing-function:ease;
          }
        .line{
            border-bottom: 0.257px solid whitesmoke;
            -webkit-transition-duration:0.8s;
            -webkit-transition-timing-function:ease;
            transition-duration:0.8s;
            transition-timing-function:ease;
          }
          .line-black{
              border-bottom: 0.257px solid #252525;
              -webkit-transition-duration:0.4s;
              -webkit-transition-timing-function:ease-in-out;
              transition-duration:0.4s;
              transition-timing-function:ease-in-out;
    
          }
        /* 메인으로 보여주는 상단page */
        .mainpage{
            position: relative;
            width: 100%;
            height: 800px;
        }
        .mainpage .navi{
            display: block;
            font-size: 14px;
        }
        .mainpage .navi ul{
            position: fixed;
            top: 45%;
            left: 30px;
            list-style-type: none;
        }
        .mainpage .navi ul li {
            margin: 20px 0;
            transform: rotate(-90deg);
            text-align: center;
        }
        .mainpage .navi ul li:nth-child(2){
            padding: 20px 0;
            transform: none;
        }
        .mainpage .navi ul li span{
            margin: 0 15px;
            padding: 10px 0;
            border-left: 1px solid #fff;
        }
        .mainpage .navi ul li a{
            color: white;
            text-decoration: none;
            z-index: 5000;
        }
        .mainpage h1{
            position: absolute;
            font-size: 6rem;
            color: #fff;
            letter-spacing: 2px;
        }
        /*텍스트 표현 CSS*/
        .title-main-cover{
            position: relative;
            margin: 0;
        }
        .mainpage .effect-txt1{
            position: absolute;
            left: 7%;
            top: 12vh;
            font-style: oblique;
            -webkit-text-stroke: 2px #FECE35;
            -webkit-text-fill-color: transparent;
            z-index: 4;

            /*animation property CSS*/
            animation: maintext 5s;
            -moz-animation: maintext 5s;
            -webkit-animation: maintext 5s;
            -o-animation: maintext 5s;
        }
        /*animation Keyframe property CSS*/
            @keyframes maintext{
                from { opacity: 0; }
                to {opacity: 1;}
            }
            @-moz-keyframes maintext{
                from { opacity: 0; }
                to {opacity: 1;}
            }
            @-webkit-keyframes maintext{
                from { opacity: 0; }
                to {opacity: 1;}
            }
            @-o-keyframes maintext{
                from { opacity: 0; }
                to {opacity: 1;}
            }
        .mainpage .effect-txt2{
            position: absolute;
            left: 41%;
            top: 60vh;
            font-style: oblique;
            -webkit-text-stroke: 2px orangered;
            -webkit-text-fill-color: transparent;
            z-index: 4;

            /*animation property CSS*/
            animation: maintext2 8s;
            -moz-animation: maintext2 8s;
            -webkit-animation: maintext2 8s;
            -o-animation: maintext2 8s;
        }
        /*animation Keyframe property CSS*/
            @keyframes maintext2{
                from { opacity: 0; }
                to {opacity: 1;}
            }
            @-moz-keyframes maintext2{
                from { opacity: 0; }
                to {opacity: 1;}
            }
            @-webkit-keyframes maintext2{
                from { opacity: 0; }
                to {opacity: 1;}
            }
            @-o-keyframes maintext2{
                from { opacity: 0; }
                to {opacity: 1;}
            }
    
        .main-cover{
            position: relative;
            max-width: 95%;
            margin: 0 auto;
        }
        .mainpage .main-cover .faceimage {
            position: absolute;
            top: 11vh;
            left: 46vw;
            width: 430px;
            height: 389px;
            background-size: 100%;
        }
        .mainpage .main-cover .faceimage canvas{
            width: 430px;
            height: 389px;
        }

        .mainpage .main-cover .faceimage2 {
            position: absolute;
            top: 250px;
            left: 10%;
            width: 430px;
            height: 389px;
            background-size: 100%;
        }
        .mainpage .main-cover .faceimage2 canvas{
            width: 430px;
            height: 389px;
        }
    
        /*소개 페이지*/
        .sub-mainpage{
            width: 100%;
            height:500px;
        }
        .article-bx{
            min-width: 75%;
            margin-top: 8rem;
            /* position: absolute;
            top: 55em;*/
        }
        .sub-mainpage article{
            max-width: 100%;
            padding: 0 12vw;
            color: #fff;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .sub-mainpage h2{
            min-width: 75%;
            padding: 0 12.5vw;
            color: #fff;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .sub-mainpage article p{
            font-size: 15px;
            letter-spacing: 2px;
            line-height: 32px;
        }
    
        /* contents 내용 */
        .link-text{ margin: 50px 0; }
        /*함께하자는 인사말*/
        .about-Greetings{
            width: 100%;
            height: 680px;
        }
        .about-column{
            min-width: 75%;
            padding: 25vh 12.5vw;
        }
        .about-Greetings .about-column p{
            color: whitesmoke;
            text-align: center;
            font-size: 3.5rem;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
       
        /*Animation Word show - my Favorite Things*/
        .about-view-animation{ width: 100%; }
        .about-view-animation .about-word {
            width: 100%;
            height: fit-content;
        }
        .about-view-animation .about-word svg{
            width: 100%;
            height: 50%;
            border-top: 1px solid whitesmoke;
            border-bottom: 1px solid whitesmoke;
        }
        .about-view-animation .about-word .svg-word text{
            /*폰트 CSS style*/
            font-weight: 600;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-style: italic;
            font-size: 6rem;
            letter-spacing: 2px;
        }
        /*contact me 그리고 다운로드*/
        .contact-sc{
            width: 100%;
            padding: 7rem 2%;
        }
        .contact__container{
            max-width: 80%;
            flex-wrap: wrap;
            display: flex;
            margin: 0 auto;
        }
        .contact-image{
            display: block;
            max-width: 48%;
        }
        .contact__container .contact-image .color_box{
            display: block;
            min-width: 51%;
            padding: 1.5rem;
            background-color: #ff0000;
        }
        .contact-image img { display:block; max-width: 100%; height:61%; }
        .contact-default-contents { min-width: 52%; padding-left: 5%; margin-bottom: 8%; }
        .contact-default-contents h2 {
            max-width: 100%;
            color: whitesmoke;
            font-weight: 400;
            font-size: 2.2rem;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .contact-default-contents h2::after{
            content: "";
            display: inline-block;
            width: 12%;
            height: 1px;
            margin: 0 20px;
            transition: all .3s;
            background: #fff;
        }
        .contact-about-tutext-cover{
            width: 100%;
            display: inline-flex;
        }
        .contact-info{
            min-width: 50%;
            margin-right: 0;
        }
        .contact-info p{
            padding: 15px 0;
            font-size: 0.8rem;
            color: whitesmoke;
        }
        .sub-title::after{
            content: "";
            display: inline-block;
            width: 15%;
            height: 1px;
            margin: 0 1.1vw;
            transition: all .3s;
            background: whitesmoke;
        }
        .download-column{ min-width: 55%; }
        .download-column p{
            padding: 15px 0 1.8rem 0;
            font-size: 0.8rem;
            color: whitesmoke;
        }
        .download-column a{
            text-decoration: none;
            padding: 8px 29px;
            margin: 1vh 0;
            border-radius: 3px;
            border: 1px solid whitesmoke;
            text-align: center;
            background: none;
            font-size: 0.7rem;
            color: whitesmoke;
        }
        .github{
            padding: 0.5rem 0;
            margin: 0;
        }
        .github a{
            text-decoration: none;
            color: whitesmoke;
            font-size: 0.8rem;
        }
        .github i{
            margin: 0 5px;
            color: whitesmoke;
        }
        /*연락페이지 스타일링*/
        .contact-sc-stying{
            width: 100%;
            height: 350px;
        }
        .Dot_pattern{
            width: 24rem;
            height: 22rem;
            float: right;
            /*dot-pattern styling CSS-Property*/
            background:
            radial-gradient(#972525 15%, transparent 16%) 0 0,
            radial-gradient(#972525 15%, transparent 16%) 8px 8px,
            radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px,
            radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
            background-size:17px 17px;
            opacity: 0.8;
        }
        /*circle-animation CSS-Property*/
        #circle{
            position: relative;
            padding-bottom: 19%; 
            /* overflow: hidden; */
        }
        #circle text{
            font-family: 'Noto Sans KR', sans-serif;
            font-size: 16px; 
            font-weight: bold;
        }
        #circle svg{
            position: absolute;
            top: -150px;
            right: 15rem;
            height: 540px;
            /*animation CSS Property*/
            -webkit-animation-name: rotate;
               -moz-animation-name: rotate;
                -ms-animation-name: rotate;
                 -o-animation-name: rotate;
                    animation-name: rotate;
            -webkit-animation-duration: 10s;
               -moz-animation-duration: 10s;
                -ms-animation-duration: 10s;
                 -o-animation-duration: 10s;
                    animation-duration: 10s;
            -webkit-animation-iteration-count: infinite;
               -moz-animation-iteration-count: infinite;
                -ms-animation-iteration-count: infinite;
                 -o-animation-iteration-count: infinite;
                    animation-iteration-count: infinite;
            -webkit-animation-timing-function: linear;
               -moz-animation-timing-function: linear;
                -ms-animation-timing-function: linear;
                 -o-animation-timing-function: linear;
                    animation-timing-function: linear;
        }
        /*animation-Keyframes CSS Property*/
        @-webkit-keyframes rotate {
            from { -webkit-transform: rotate(360deg); }
            to { -webkit-transform: rotate(0); }
        }
        @-moz-keyframes rotate {
            from { -moz-transform: rotate(360deg); }
            to { -moz-transform: rotate(0); }
        }
        @-ms-keyframes rotate {
            from { -ms-transform: rotate(360deg); }
            to { -ms-transform: rotate(0); }
        }
        @-o-keyframes rotate {
            from { -o-transform: rotate(360deg); }
            to { -o-transform: rotate(0); }
        }
        @keyframes rotate {
            from { transform: rotate(360deg); }
            to { transform: rotate(0); }
        }
    
        br{padding: 2%;}

        /*top button styling 탑버튼*/
        .top-button{
            display:none;
            width: fit-content;
            margin: 2.5rem auto;
        }
        .top-btn{
            color: #fff;
            padding: 1rem;
            font-size: 15px;
            border: 1px solid #eeeeee;
            border-radius: 7px;
            text-decoration: none;
            background-color: transparent;
        }
        .top-btn:hover{
            color: #eeeeee;
            background-color: darkred;
            transform: scale(2);
        }
        /* 하단 footer 내용 */
        .footer{
            width: 100%;
            text-align: center;
            background-color: #eeeeee;
        }
        .footer-txt{
            max-width:100%;
            display:inline;
            color: #616161;
            font-size: 10px;
        }
        .footer-txt p{
            display: inline-flex;
            padding: 0 7%;
            letter-spacing: 1px;
        }
        .footer-txt a{
            display:inline;
            padding: 0 5%;
            text-decoration: none;
            color:#616161;
        }
}
/* 1200px 이상 PC화면 */
@media all and (min-width:1200px) {
    
    /*마우스 효과 mouse effect*/
    .cursor {
    position: absolute;
    top: 0;
    left: 0;
    z-index:50;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: -25px;
    border: 1px solid #eeeeee;
    cursor: crosshair;
    }
    /*trigger CSS style*/
    [data-trigger]{
        opacity: 0;
        position: relative;
        top: 18px;
        transition: 0.3s ease-out;
        -webkit-transition: 0.3s ease-out;
        -moz-transition: 0.3s ease-out;
        -ms-transition: 0.3s ease-out;
        -o-transition: 0.3s ease-out;
    }
    
    [data-trigger].visible{
        opacity: 1;
        top: 0;
    }

    #wrap{
        font-family: Helvetica, Arial, sans-serif;
        font-size: 16px;
        line-height: 1.5;
        background-color: #252525;
        color: rgba(0, 0, 0, 0.85);
    }

    /*PC화면 상단헤더*/
    .header{
        position: fixed;
        width: 100%;
        height: 65px;
        padding: 0 12.5vw;
        top: 0;
        z-index: 2;
        transition: transform .3s linear;
        -webkit-transition-duration:0.4s;
        -webkit-transition-timing-function:ease;
        transition-duration:0.4s;
        transition-timing-function:ease;
        }
    .header .header-contents{
        min-width: 75%;
        left: 50%;
        margin: 0 auto;
        transform: translate(-50%, 0);
        transition: transform .3s linear;
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
}
    .header .header-contents .btn-l-c{
        display: inline-block;
        width: 96px;
        height: 25px;
        margin-top: 23px;
        /* float: left;
        line-height: 4rem;
        text-decoration: none;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
        background: url(../images/UNIQUE-logo.png)no-repeat;
        -webkit-background: url(../images/UNIQUE-logo.png)no-repeat;
    }
    .gettxt-click{
        display: block;
        float: right;
        text-align: -webkit-center;
        text-decoration: none;
        width: fit-content;
    }
    .header-contents .gettxt-click:before {
        content: "";
        display: inline-block;
        width: 106px;
        height: 1px;
        position: absolute;
        right: 0px;
        bottom: 29px;
        transition: all .3s;
        background: #fff;
    }
    .gettxt-click p{
        color: white;
        letter-spacing: 1.5px;
        line-height: 4rem;
        font-size: 10px;
    }
    /* JQ Code header-change virtual Selector */
    .down {
        background-color:rgba(70, 70, 70, 0.308);
        -webkit-transition-duration:0.8s;
        -webkit-transition-timing-function:ease-out;
        transition-duration:0.8s;
        transition-timing-function:ease;
      }
    .line{
        border-bottom: 0.257px solid whitesmoke;
        -webkit-transition-duration:0.8s;
        -webkit-transition-timing-function:ease;
        transition-duration:0.8s;
        transition-timing-function:ease;
      }
      .line-black{
          border-bottom: 0.257px solid #252525;
          -webkit-transition-duration:0.4s;
          -webkit-transition-timing-function:ease-in-out;
          transition-duration:0.4s;
          transition-timing-function:ease-in-out;

      }
    /* 메인으로 보여주는 상단page */
    .mainpage{
        position: relative;
        width: 100%;
        height: 980px;
    }
    .mainpage .navi{
        display: block;
        font-size: 14px;
    }
    .mainpage .navi ul{
        position: fixed;
        top: 45%;
        left: 30px;
        list-style-type: none;
    }
    .mainpage .navi ul li {
        margin: 20px 0;
        transform: rotate(-90deg);
        text-align: center;
    }
    .mainpage .navi ul li:nth-child(2){
        padding: 20px 0;
        transform: none;
    }
    .mainpage .navi ul li span{
        margin: 0 15px;
        padding: 10px 0;
        border-left: 1px solid #fff;
    }
    .mainpage .navi ul li a{
        color: white;
        text-decoration: none;
        z-index: 5000;
    }
    .mainpage h1{
        position: absolute;
        font-size: 9rem;
        color: #fff;
        letter-spacing: 2px;
    }
    /*Text effect CSS*/
    .title-main-cover{
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
    }
    .mainpage .effect-txt1{
        position: absolute;
        left: 2%;
        top: 5rem;
        font-style: oblique;
        -webkit-text-stroke: 2px #FECE35;
        -webkit-text-fill-color: transparent;
        z-index: 4;

        /*animation property CSS*/
        animation: maintext 5s;
        -moz-animation: maintext 5s;
        -webkit-animation: maintext 5s;
        -o-animation: maintext 5s;
    }
        /*animation Keyframe property CSS*/
        @keyframes maintext{
            from { opacity: 0; }
            to {opacity: 1;}
        }
        @-moz-keyframes maintext{
            from { opacity: 0; }
            to {opacity: 1;}
        }
        @-webkit-keyframes maintext{
            from { opacity: 0; }
            to {opacity: 1;}
        }
        @-o-keyframes maintext{
            from { opacity: 0; }
            to {opacity: 1;}
        }

    .mainpage .effect-txt2{
        position: absolute;
        top: 35rem;
        left: 42%;
        font-style: oblique;
        -webkit-text-stroke: 3px orangered;
        -webkit-text-fill-color: transparent;
        z-index: 4;

        /*animation property CSS*/
        animation: maintext2 8s;
        -moz-animation: maintext2 8s;
        -webkit-animation: maintext2 8s;
        -o-animation: maintext2 8s;
}
    /*animation Keyframe property CSS*/
    @keyframes maintext2{
        from { opacity: 0; }
        to {opacity: 1;}
    }
    @-moz-keyframes maintext2{
        from { opacity: 0; }
        to {opacity: 1;}
    }
    @-webkit-keyframes maintext2{
        from { opacity: 0; }
        to {opacity: 1;}
    }
    @-o-keyframes maintext2{
        from { opacity: 0; }
        to {opacity: 1;}
    }

    .main-cover{
        position: relative;
        max-width: 1400px;
        margin: 0 auto;
    }
    .mainpage .main-cover .faceimage {
        position: absolute;
        top: 11vh;
        left: 47.5%;
        width: 600px;
        height: 500px;
        background-size: 100%;
    }
    .mainpage .main-cover .faceimage2 {
        position: absolute;
        left: 9.2%;
        top: 27vh;
        width: 600px;
        height: 500px;
        background-size: 100%;
    }
    .mainpage .main-cover .first-img canvas{
        width: 600px;
        height: 500px;
    }
    .mainpage .main-cover .second-img canvas{
        width: 600px;
        height: 500px;
    }

    /*소개 페이지*/
    .sub-mainpage{
        width: 100%;
        height: 500px;
    }
    .article-bx{ min-width: 75%; margin-top: 10rem; }
    .sub-mainpage article{
        max-width: 100%;
        padding: 0 12.5vw;
        color: #fff;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .sub-mainpage h2{
        min-width: 75%;
        padding: 0 12.5vw;
        color: #fff;
        font-size: 2.1rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .sub-mainpage article p{
        font-size: 18px;
        letter-spacing: 2px;
        line-height: 32px;
    }

    /* contents 내용 */
    /*PF Slider Inside suff contents*/
    
    /*함께하자는 인사말*/
    .about-Greetings{
        width: 100%;
        height: 780px;
    }
    .about-column{
        min-width: 75%;
        padding: 11vh 12.5vw;
        margin: 25vh 0;
    }
    .about-Greetings .about-column p{
        color: whitesmoke;
        text-align: center;
        font-size: 6.5rem;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
   
    /*Animation Word show - my Favorite Things*/
    .about-view-animation{
        width: 100%;
        padding:12rem 0;
    }
    .about-view-animation .about-word {
        width: 100%;
        height: fit-content;
    }
    .about-view-animation .about-word svg{
        width: 100%;
        height: 50%;
        border-top: 1px solid whitesmoke;
        border-bottom: 1px solid whitesmoke;
    }
    .about-view-animation .about-word .svg-word text{
        /*폰트 CSS style*/
        font-weight: 600;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-style: italic;
        font-size: 6rem;
        -webkit-text-size-adjust: none; /*사파리 텍스트 오류*/
        letter-spacing: 2px;
    }
    /*contact me 그리고 다운로드*/
    .contact-sc{
        width: 100%;
        padding: 12rem 0;
    }
    .contact__container{
        max-width: 75%;
        flex-wrap: wrap;
        display: flex;
        margin: 0 auto;
    }
    .contact-image{
        min-width: 45%;
        margin: 0;
    }
    .contact__container .contact-image .color_box{
        display: block;
        max-width: 60%;
        padding: 2.3rem;
        background-color: #ff0000;
    }
    .contact-image img { min-width: 100%; }
    .contact-default-contents { width: 51%; }
    .contact-default-contents h2 {
        max-width: 100%;
        color: whitesmoke;
        font-weight: 400;
        font-size: 3rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .contact-default-contents h2::after{
        content: "";
        display: inline-block;
        width: 12%;
        height: 1.5px;
        /*position: absolute;*/
        margin: 0 20px;
        transition: all .3s;
        background: #fff;
    }
    .contact-about-tutext-cover{
        width: 100%;
        display: inline-flex;
        margin-top: 1.5rem;
    }
    .contact-info{ min-width: 50%; }
    .contact-info p{
        padding: 15px 0;
        font-size: 18px;
        color: whitesmoke;
    }
    .sub-title::after{
        content: "";
        display: inline-block;
        width: 15%;
        height: 1px;
        margin: 0 1.1vw;
        transition: all .3s;
        background: whitesmoke;
    }
    .download-column{ min-width: 50%; }
    .download-column p{
        padding: 15px 0 2rem 0;
        font-size: 18px;
        color: whitesmoke;
    }
    .download-column a{
        text-decoration: none;
        padding: 10px 40px;
        margin: 1vh 0;
        border: 1px solid whitesmoke;
        text-align: center;
        background: none;
        font-size: 18px;
        color: whitesmoke;
    }
    .github{
        padding: 1rem 0;
    }
    .github a{
        text-decoration: none;
        color: whitesmoke;
    }
    .github i{
        margin: 0 5px;
        color: whitesmoke;
    }
    /*연락페이지 스타일링*/
    .contact-sc-stying{
        width: 100%;
        height: 350px;
    }
    .Dot_pattern{
        width: 24rem;
        height: 22rem;
        float: right;
        /*dot-pattern styling CSS-Property*/
        background:
            radial-gradient(#972525 15%, transparent 16%) 0 0,
            radial-gradient(#972525 15%, transparent 16%) 8px 8px,
            radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px,
            radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
        background-size:17px 17px;
        opacity: 0.8;
    }
    /*circle-animation CSS-Property*/
    #circle{ position: relative; padding-bottom: 19%; }
    #circle text{
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 16px; 
        font-weight: bold;
    }
    #circle svg{
        position: absolute;
        top: -150px;
        right: 15rem;
        height: 540px;
        /*animation CSS Property*/
        -webkit-animation-name: rotate;
           -moz-animation-name: rotate;
            -ms-animation-name: rotate;
             -o-animation-name: rotate;
                animation-name: rotate;
        -webkit-animation-duration: 10s;
           -moz-animation-duration: 10s;
            -ms-animation-duration: 10s;
             -o-animation-duration: 10s;
                animation-duration: 10s;
        -webkit-animation-iteration-count: infinite;
           -moz-animation-iteration-count: infinite;
            -ms-animation-iteration-count: infinite;
             -o-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
           -moz-animation-timing-function: linear;
            -ms-animation-timing-function: linear;
             -o-animation-timing-function: linear;
                animation-timing-function: linear;
    }
    /*animation-Keyframes CSS Property*/
    @-webkit-keyframes rotate {
        from { -webkit-transform: rotate(360deg); }
        to { -webkit-transform: rotate(0); }
    }
    @-moz-keyframes rotate {
        from { -moz-transform: rotate(360deg); }
        to { -moz-transform: rotate(0); }
    }
    @-ms-keyframes rotate {
        from { -ms-transform: rotate(360deg); }
        to { -ms-transform: rotate(0); }
    }
    @-o-keyframes rotate {
        from { -o-transform: rotate(360deg); }
        to { -o-transform: rotate(0); }
    }
    @keyframes rotate {
        from { transform: rotate(360deg); }
        to { transform: rotate(0); }
    }

    br{padding: 2%;}

    /*top button styling 탑버튼*/
    .top-button{
        width: fit-content;
        margin: 2.5rem auto;
    }
    .top-btn{
        color: #fff;
        padding: 1rem;
        font-size: 15px;
        border: 1px solid #eeeeee;
        border-radius: 7px;
        text-decoration: none;
        background-color: transparent;
    }
    .top-btn:hover{
        color: #eeeeee;
        background-color: darkred;
        transform: scale(2);
    }
    /* 하단 footer 내용 */
    .footer{
        width: 100%;
        text-align: center;
        background-color: #eeeeee;
    }
    .footer-txt{
        display: block;
        max-width:100%;
        color: #616161;
        font-size: 12px;
    }
    .footer-txt p{
        display: inline;
        padding: 0 7%;
        letter-spacing: 1px;
    }
    .footer-txt a{
        padding: 0;
        text-decoration: none;
        color:#616161;
    }
}
